# Data Science and Tools Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
* Structured Query Language
* Python
* R
* Apache Spark

Some of the popular languages that Data Scientists use are:
1. Structured Query Language
2. R programming Language
3. Python programming Language
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Tidyverse
2. Pytorch
3. Seaborn
4. TensorFlow
5. Sickit-learn

| Data Science Tools |
|:-------------|
| Python | 
| R |
| Hadoop |
| SQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
David Otu